@media (max-width: 1200px)
    .container
        max-width: 991px
    .promo
        .promo__header
            padding: 0 30px
        .promo__title
            font-size: 27px
    .advantages__items
        padding: 0px 20px 0 20px
    .cprengi__item
        width: 30%
        
@media (max-width: 991px)
    .container
        max-width: 768px
    .promo__subtitle
        font-size:  20px
        span 
            font-size: 22px
    .advantages__item_wrap
        padding: 20px 20px
        height: 130px
    .promo__button
        width: 200px;
        height: 50px;
        font-size: 15px
    .promo__phone
        margin-left: 50px
        img
    .cprengi
        padding: 60px 0
        .cprengi__items
            justify-content: space-around
            .cprengi__item
                width: 30%
        .cprengi__arrow 
            margin-top: 25px
        .cprengi__title 
            font-size: 38px
        .cprengi__item-mt
            margin-top: 15px
        .cprengi__item-descr
            padding: 0 5px
            font-size: 16px
    .issue__tabs
        width: 90%
        ul
            li
                padding: 10px 10px 10px 15px
    .variants__item_title 
        font-size: 24px
    .variants__item_text
        font-size: 17px
    .issue
        min-height: 730px
    .issue__inner
        margin: 0 auto
        width: 90%
    .issue__img
        padding: 0 20px
        width: 100%

@media (max-width: 767px)
    .container
        max-width: 567px
    .footer
        .footer__company_title
            display: none
        .company_descr
            display: none
        .footer__wrapper
            flex-wrap: wrap
        .footer__company
            width: 100%
            text-align: center
        .footer__inner_wrap
            width: 39%
            flex-direction: column    
        .footer__modules 
            width: 59%
        .footer__our 
            margin-top: 40px
    .promo .wrap
        flex-direction: column
        justify-content: center
    .promo .promo__subtitle
        display: none
    .promo .promo__title
        margin: 0
        text-align: center
    .promo .promo__title
        font-size: 20px
    .promo .promo__subtitle
        font-size: 17px
        span
            font-size: 20px
    .promo__button
        margin: 0
        width: 150px
        font-size: 14px
    .promo__phone
        margin: 20px auto 0 auto
        img            
            height: 500px
    .promo__descr
        margin-top: 30px
        text-align: center
        display: flex
        align-items: center
        justify-content: space-around
    .promo__navigation
        display: none
    .issue__title
        font-size: 25px
    .issue__tabs
        display: none
        width: 95%
    .issue__tabs 
        ul 
            li
        padding: 5px
    .variants__item_title
        font-size: 17px
    .variants__item_text 
        font-size: 14px
    .variants__title 
        font-size: 25px
    .feed__img
        img
            width: 200px
            height: 200px 
    .feed__descr 
        font-size: 22px
    .feed__button
        width: 150px
        font-size: 14px
