@media (max-width: 1200px)
    .container
        max-width: 991px
    .promo
        .promo__header
            padding: 0 30px
        .promo__title
            font-size: 27px
    .advantages__items
        padding: 0px 20px 0 20px
    .cprengi__item
        width: 30%

@media (max-width: 991px)
    .container
        max-width: 768px
    .promo__subtitle
        font-size:  20px
        span 
            font-size: 22px
    .advantages__item_wrap
        padding: 20px 20px
        height: 130px
    .promo__button
        width: 200px
        height: 50px
        font-size: 15px
    .promo__phone
        margin-left: 50px
        img
    .cprengi
        padding: 60px 0
        .cprengi__items
            justify-content: space-around
            .cprengi__item
                width: 30%
        .cprengi__arrow 
            margin-top: 25px
        .cprengi__title 
            font-size: 38px
        .cprengi__item-mt
            margin-top: 15px
        .cprengi__item-descr
            padding: 0 5px
            font-size: 16px
    .issue__tabs
        width: 90%
        ul
            li
                padding: 10px 10px 10px 15px
    .variants__item_title 
        font-size: 24px
    .variants__item_text
        font-size: 17px
    .issue
        min-height: 730px
    .issue__inner
        margin: 0 auto
        width: 90%
    .issue__img
        padding: 0 20px
        width: 100%
@media (max-width: 767px)
    .container
        max-width: 567px
    .footer
        .footer__company_title
            display: none
        .company_descr
            display: none
        .footer__wrapper
            flex-wrap: wrap
        .footer__company
            width: 100%
            text-align: center
        .footer__inner_wrap
            width: 39%
            flex-direction: column    
        .footer__modules 
            width: 59%
        .footer__our 
            margin-top: 40px
    .promo .wrap
        flex-direction: column
        justify-content: center
    .promo .promo__subtitle
        display: none
    .promo .promo__title
        margin: 0
        text-align: center
    .promo .promo__title
        font-size: 20px
    .promo .promo__subtitle
        font-size: 17px
        span
            font-size: 20px
    .promo__button
        margin: 0
        width: 150px
        font-size: 14px
    .promo__phone
        margin: 20px auto 0 auto
        img            
            height: 500px
    .promo__descr
        margin-top: 30px
        text-align: center
        display: flex
        align-items: center
        justify-content: space-around
    .promo__navigation
        display: none
    .issue__title
        font-size: 25px
    .issue__tabs
        display: none
        width: 95%
    .issue__tabs 
        ul 
            li
        padding: 5px
    .variants__item
        width: 100%
        padding-left: 30px
    .left_cube
        margin-right: 10px
    .right_cube
        margin-left: 10px
    .variants__item-right
        margin-right: 20px
        padding: 0 25px 0 0
    .variants__item_title
        font-size: 17px
    .variants__item_text 
        font-size: 14px
    .variants__title 
        font-size: 25px
    .feed__img
        img
            width: 200px
            height: 200px 
    .feed__descr 
        font-size: 22px
    .feed__button
        width: 150px;
        font-size: 14px;
    .container
        max-width: 567px
    .footer
        .footer__company_title
            display: none
        .company_descr
            display: none
        .footer__wrapper
            flex-wrap: wrap
        .footer__company
            width: 100%
            text-align: center
        .footer__inner_wrap
            width: 39%
            flex-direction: column    
        .footer__modules 
            width: 59%
        .footer__our 
            margin-top: 40px
    .advantages__item_wrap
        padding: 10px 10px
        font-size: 17px
        height: 90px
    nav
        display: none
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0, 0, 0, .8)
        transition: 0.6s all
    .menu_active
        left: 0
    .menu_item
        padding-right: 0
        border: none
        margin-top: 10px
    .hamburger
            display: block
@media (max-width: 567px)
    .container
        width: 320px
    .promo__phone
        width: 100%
    .promo__button
        display: none
    .slick-slide img 
        width: 100%
    .slick-track
        width: 100%
    .cprengi__arrow img
        width: 100px
        height: 50px
    .header__flags
        width: 100%
    .cprengi .cprengi__items
        flex-wrap: wrap
    .cprengi .cprengi__items .cprengi__item
        width: 90%
        margin-bottom: 15px
    .issue__title
        font-size: 18px
    .issue__inner
        width: 100%
        margin-top: 50px
    .issue__inner div img
        width: 100%
        margin: 0
        padding: 0
    .issue
        min-height: 450px
    .advantages__item
        width: 100%
        margin-bottom: 15px
    .advantages__title
        font-size: 24px 
    .variants
        padding: 80px 0px
    .variants__wrap
        flex-wrap: wrap
    .variants__item
        width: 100%
        margin-bottom: px
    .variants__item-right
        margin-bottom: 30px
    .variants__item img
        top: 0
        width: 100px
        height: 100%
    .feed
        min-height: 460px
        padding: 60px 0 
    .footer__branches
        display: none
    .footer .footer__wrapper
        flex-direction: column
    .feed__descr
        width: 100%
    .feed__descr
        font-size: 15px
        padding: 0 15px 0 15px
@media (max-width: 320px)
    .variants__item-right
        width: 100%
    .advantages__title
        font-size: 14px

